.left{
    height: 100%;
    margin: 0;
  }

.right{
    height: 100%;
    margin: 0;
  }

.container{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media only screen and (max-width: 992px) {

  .container{
    grid-template-columns: 1fr;
  }
  .right{
    width: 100%;
    min-height: 75vh;
  }

  .left{
    min-height: 75vh;
  }
}

@media only screen and (max-width: 530px){
  .left{
    width: 95%;
  }
}