html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.container span > a {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}

.container > div > a {
  background-color: #404040;
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px
}

.container > div > a:hover,
.container > div > a:focus {
  background-color: #808080;
  transform: scale(150);
}


.preferences-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  padding: 10px 20px;
  width: 80%;
  outline: none;
  background-color: #fff;
  border-radius: 15px;
  animation: enter 200ms ease-in forwards;
}

@keyframes enter {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .preferences-modal {
    top: 40px;
    left: auto;
    right: 40px;
    width: 300px;
  }

  @keyframes enter {
    from {
      transform: translate(50%, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

.modal-option {
  padding: 5px;
}