.preferenceModal {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    padding: 10px 20px;
    width: 80%;
    outline: none;
    background-color: #fff;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .preferenceModal {
        top: 70px;
        left: auto;
        right: 40px;
        width: 300px;
    }
}

.modalOption {
    padding: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}